<footer id="site-footer">
  <div class="extras">
    © 2023
    <span class="feed">
      <a href="{{ metadata.feed.path | url }}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>RSS</a>
    </span>
  </div>
  <div class="links">
    <ul>
      <li><a href="https://www.linkedin.com/in/dlimeb/" target="_blank">LinkedIn</a></li>
      <li><a href="https://mastodon.cloud/@dlimeb" target="_blank">Mastodon</a></li>
      <li><a href="mailto:dlimeb@gmail.com">Email</a></li>
    </ul>
  </div>
</footer>