<ul class="list-articles">
{% for article in articlesList | reverse %}
  <li>
    <a href="{{ article.url | url }}">
      {% if article.data.title %}{{ article.data.title }}{% else %}{{ article.url }}{% endif %}
      {# {% if article.data.summary %}<p>{{ article.data.summary }}</p>{% endif %} #}
    </a>
    — <time datetime="{{ article.date | htmlDateString }}">{{ article.date | readableDate }}</time></span>
  </li>
{% endfor %}
</ul>
