{# This is the content of the page for displaying the list of tags and articles.
It's used in both writing.njk (all tags and articles) and topic.njk (a
particular tag and its associated articles). All those templates do is handle
the URL and set variables; this template keeps the content of the page similar. #}

{% include "list-topics.njk" %}
{% include "list-articles.njk" %}
