//========================================================================
//
//  STYLES
//
//========================================================================

//
// CONTAINERS
//
body {
  @apply box-border py-4 px-6;
  background-color: var(--background-color);
}
@media (min-width: theme('screens.md')) {
  .container {
    @apply max-w-screen-sm;
  }
}
main {
  margin-top: $vert-spacer;
  margin-bottom: calc(2 * $vert-spacer);
}
#site-header,
#site-footer {
  @apply flex leading-none items-baseline;
}


//
// GLOBAL TYPOGRAPHY
//
body {
  @apply font-serif text-xl leading-normal;
  color: var(--text-color);
}
p,
ol,
ul {
  @apply mb-6;
}
strong {
  @apply font-bold;
}
em {
  @apply italic;
}
.caps {
  font-variant: small-caps;
  @apply text-lg;
}
.ord {
  @apply text-base align-text-top leading-none;
}
.small-label {
  @apply text-lg;
  color: var(--text-color--muted);
}
main,
article {
  header {
    margin-bottom: $vert-spacer;
  }
  h1 {
    @apply font-bold text-xl mb-6;
  }
  h2 {
    @apply font-bold mt-12 mb-6;

    .direct-link {
      @apply hidden;
    }
    &:hover {
      .direct-link {
        @apply inline;
      }
    }
  }
  a {
    @apply underline decoration-2;
    text-underline-offset: 3px;
    color: var(--action-color);
    text-decoration-color: var(--action-color);
 //
    &:hover {
      @apply no-underline;
      color: var(--action-color);
      text-decoration-color: var(--action-color);
    }

    // &[target="_blank"]:after {
    //   @apply inline-block font-sans text-sm pl-1;
    //   vertical-align: text-top;
    //   content: "↗";
    //   color: var(--text-color--muted);
    // }
  }
  ol,
  ul {
    @apply ml-4;

    @media (min-width: theme('screens.md')) {
      @apply ml-0;
    }
  }
  ol li {
    @apply list-decimal;
  }
  ul li {
    @apply list-disc;
  }
  figure {
    @apply my-12;
  }
  hr,
  picture {
    @apply block my-16;
  }
  pre {
    @apply font-mono text-base mb-6 p-4;
  }
  pre,
  picture {
    // outdent same as px-6 on body
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  picture {
    @media (min-width: theme('screens.md')) {
      margin-left: -3rem;
      margin-right: -3rem;
    }
    @media (min-width: theme('screens.lg')) {
      margin-left: -6rem;
      margin-right: -6rem;
    }
  }
  figcaption {
    @apply font-mono text-sm py-1 px-4;
    color: var(--text-color--muted);

    @media (min-width: theme('screens.md')) {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    @media (min-width: theme('screens.lg')) {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
  blockquote {
    @apply text-xl leading-normal py-2 pl-6 mb-6;
    color: var(--text-color--muted);
    border-left-width: 0.3rem;
    border-color: var(--blockquote-color--border);
    
    @media (min-width: theme('screens.md')) {
      @apply pl-8;
    }
    
    p {
      @apply mb-0;
    }

  }
  cite {
    @apply block italic text-lg leading-tight mt-2;
    color: var(--text-color--muted);
    @apply ml-4 not-italic;
    color: var(--blockquote-color);
  }
  code {
    @apply text-base rounded py-0.5 px-1;
    color: var(--code-color--text);
    background-color: var(--code-color--bg);
  }
  mark {
    @apply px-1;
    color: var(--text-color);
    background-color: var(--highlight-background-color);
  }
  hr {
    @apply max-w-xs my-20 mx-auto;
    border-color: var(--divider-color);
  }
  footer {
    margin-top: $vert-spacer;
  }
}


//
// SPECIFIC ELEMENTS
//
// Header and footer
#site-header,
#site-footer {
  .extras,
  a {
    @apply font-mono text-sm;
    color: var(--text-color--muted);
  }
  a:hover {
    @apply decoration-2 underline underline-offset-4;
    color: var(--action-color);
  }
  h1,
  .extras {
    @apply flex-none;
  }
  nav,
  .links {
    @apply flex-grow text-right;
  }
  ul {
    @apply m-0;
  }
  li {
    @apply inline-block mr-2;
    &:last-child {
      @apply mr-0;
    }
  }
  .feed {
    svg {
      @apply inline-block mb-1 mr-1.5;
    }
    a:hover {
      color: #f99000;
      svg {
        color: #f99000;
      }
    }
  }
}
#sun,
#moon {
  @apply w-5;
}
body[data-theme="light"] {
  #sun {
    @apply inline;
  }
  #moon {
    @apply hidden;
  }
}
body[data-theme="dark"] {
  #sun {
    @apply hidden;
  }
  #moon {
    @apply inline;
  }
}

// Writing indexes
.list-articles {
  @apply m-0;
  li {
    @apply list-none;
  }
  a {
    @apply mr-1;
  }
  time {
    @apply ml-1;
    color: var(--text-color--muted);
  }
}
.list-topics {
  @apply mt-16;
}

// Footnotes
.direct-link,
.footnote-ref a,
a.footnote-backref {
  @apply font-sans text-base no-underline leading-none rounded;
  color: var(--action-color);

  &:hover {
    background-color: var(--background-color--muted);
  }
}
.direct-link {
  @apply font-normal px-1;
}
.hide-direct-links {
  .direct-link {
    @apply hidden;
  }
}
.footnote-ref a {
  @apply text-sm font-bold py-0.5 px-1;
}
a.footnote-backref {
  @apply pt-1 px-0.5 bg-transparent;
}
.footnotes-list {
  @apply text-lg;
}

// Article footer 
.article-datestamp {
  @apply italic text-right;
  color: var(--text-color--muted);
}
.article-nav-label {
  @apply inline-block w-32;

  @media (min-width: theme('screens.md')) {
    @apply w-48;
  }
}

// Avatar
.avatar {
  @apply text-center;
  picture {
    @apply ml-0 mr-0 mt-0 inline-block;
  }
  img {
    @apply rounded-full;
  }
}