//========================================================================
//
//  STYLES
//
//========================================================================

//
// CONTAINERS
//
body {
  @apply box-border p-4;
  background-color: var(--background-color);
}
@media (min-width: theme('screens.md')) {
  .container {
    @apply max-w-screen-sm;
  }
}
main {
  margin-top: $vert-spacer;
  margin-bottom: $vert-spacer;
}
#site-header {
  @apply flex;
}
#site-footer {
}


//
// GLOBAL TYPOGRAPHY
//
body {
  @apply font-serif text-xl leading-normal;
  color: var(--text-color);
}
p,
ol,
ul {
  @apply mb-6;
}
strong {
  @apply font-bold;
}
em {
  @apply italic;
}
.caps {
  font-variant: small-caps;
  @apply text-lg;
}
.ord {
  @apply text-base align-text-top leading-none;
}
main,
article {
  header {
    margin-bottom: $vert-spacer;
  }
  h1 {
    @apply font-bold text-xl mb-6;
  }
  h2 {
    @apply font-bold mt-12 mb-6;

    .direct-link {
      @apply hidden;
    }
    &:hover {
      .direct-link {
        @apply inline;
      }
    }
  }
  a {
    @apply underline decoration-2;
    text-decoration-color: var(--action-color);
    text-underline-offset: 3px;

    &:hover {
      @apply no-underline;
      color: var(--action-color);
    }

    // &[target="_blank"]:after {
    //   @apply inline-block font-sans text-sm pl-1;
    //   vertical-align: text-top;
    //   content: "↗";
    //   color: var(--text-color--muted);
    // }
  }
  ol,
  ul {
    @apply ml-4;

    @media (min-width: theme('screens.md')) {
      @apply ml-0;
    }
  }
  ol li {
    @apply list-decimal;
  }
  ul li {
    @apply list-disc;
  }
  figure {
    @apply my-12;
  }
  hr,
  picture {
    @apply block my-16;
  }
  pre {
    @apply font-mono text-base mb-6 p-4;
  }
  pre,
  picture {
    // outdent same as p-4 on body
    margin-left: -1rem;
    margin-right: -1rem;
  }
  picture {
    @media (min-width: theme('screens.md')) {
      margin-left: -3rem;
      margin-right: -3rem;
    }
    @media (min-width: theme('screens.lg')) {
      margin-left: -6rem;
      margin-right: -6rem;
    }
  }
  figcaption {
    @apply font-mono text-sm text-right py-1 px-4;
    color: var(--text-color--muted);

    @media (min-width: theme('screens.md')) {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    @media (min-width: theme('screens.lg')) {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
  blockquote {
    @apply text-xl leading-normal py-2 pl-4 mb-6;
    border-left-width: 0.3rem;
    color: var(--text-color--muted);
    border-color: var(--blockquote-color--border);
    
    @media (min-width: theme('screens.md')) {
      margin-left: -1.3rem;
    }
    p {
      @apply mb-0;
    }
  }
  cite {
    @apply block italic text-lg leading-tight mt-2;
    color: var(--text-color--muted);
    @apply ml-4 not-italic;
    color: var(--blockquote-color);
  }
  code {
    @apply text-base rounded py-0.5 px-1;
    color: var(--code-color--text);
    background-color: var(--code-color--bg);
  }
  mark {
    @apply px-1;
    color: var(--text-color);
    background-color: var(--highlight-background-color);
  }
  hr {
    @apply max-w-xs my-20 mx-auto;
    border-color: var(--divider-color);
  }
  // footer {
    // margin-top: $vert-spacing--large;
  // }
}


//
// SPECIFIC ELEMENTS
//
// Header and footer
#site-header {
  a {
    @apply font-mono text-base;
    color: var(--text-color--muted);
  }
  a:hover {
    @apply decoration-2 underline underline-offset-4;
    color: var(--action-color);
  }
  h1 {
    @apply flex-none ml-0;
  }
  nav {
    @apply flex-grow text-right;
  }
  ul {
    @apply m-0;
  }
  li {
    @apply inline-block ml-2;

    &.feed {
      svg {
        @apply inline-block mb-1 mr-1.5;
      }
      a:hover {
        color: #f99000;
        svg {
          color: #f99000;
        }
      }
    }
  }
}
#site-footer {
  @apply font-mono text-sm;
  color: var(--text-color--muted);
}
// body > footer,
// .article-nav--label,
// .article-metadata {
//   @apply text-lg leading-relaxed;
//   color: var(--text-color--muted);
// }

// Article cards
// .list-articles {
//   @apply flex flex-wrap grow-0;

//   article {
//     @apply w-80 mr-4 mb-4 overflow-hidden;
//     background-color: var(--background-color--muted);

//     &:hover {

//       h3 {
//         @apply underline;
//         color: var(--action-color);
//       }
//     }
//   }
//   a {
//     @apply no-underline;
//   }
//   picture {
//     margin: 0;
//   }
// }
// .article-content {
//   @apply p-4;

//   h3 {
//     @apply text-2xl leading-none;
//     color: var(--text-color);
//   }
//   p {
//     @apply text-lg leading-none mt-2 mb-2;
//     // color: var(--text-color--muted);
//     color: var(--text-color);
//   }
//   time {
//     @apply font-mono text-sm;
//     color: var(--text-color--muted);
//   }
// }
// Topic tags
// .list-topics {
//   @apply ml-0;

//   li {
//     @apply list-none inline-block mb-3 mr-1.5;
//   }
// }
// .topic {
//   @apply font-mono text-sm uppercase px-3 py-1.5 border-2 no-underline;
//   border-color: var(--action-color);
// }
// .topic:hover,
// .topic-active {
//   @apply text-white;
//   background-color: var(--action-color);
// }

// Footnotes
.direct-link,
.footnote-ref a,
a.footnote-backref {
  @apply font-sans no-underline leading-none rounded;
  color: var(--text-color--muted);

  &:hover {
    color: white;
    background-color: var(--action-color);
  }
}
.direct-link {
  @apply rounded font-normal px-1;
}
.footnote-ref a {
  @apply rounded text-sm font-sans font-medium py-0.5 px-1;
}
a.footnote-backref {
  @apply rounded text-lg font-bold pt-1 px-0.5 bg-transparent;
}
.footnotes-list {
  @apply text-lg;
}

// Pre/next article nav
// .article-metadata {
//   @apply text-right;
// }
// .article-nav--label {
//   @apply flex-shrink-0 w-32;
//   margin-top: 0.15em; // fix baseline

//   @media (min-width: theme('screens.md')) {
//     @apply w-48;
//   }
// }

// Misc
.page-404 {
  .direct-link {
    @apply hidden;
  }
}