//========================================================================
//
//  VARIABLES
//
//========================================================================

//
// ALIGNMENT
//
$vert-spacer: 10rem;

//
// LIGHT/DARK MODE
//
:root {

  body[data-theme="light"] {
    --background-color: theme('colors.white');
    --background-color--muted: theme('colors.gray.100');

    --text-color: theme('colors.slate.700');
    --text-color--muted: theme('colors.gray.500');

    // --action-color: theme('colors.pink.600');
    --action-color: #00f;

    --code-color--text: theme('colors.red.700');
    --code-color--bg: theme('colors.slate.200');

    --highlight-background-color: theme('colors.yellow.100');

    --blockquote-color--border: theme('colors.gray.100');

    --divider-color: theme('colors.slate.300');
  }

  body[data-theme="dark"] {
    --background-color: theme('colors.gray.900');
    --background-color--muted: theme('colors.slate.800');

    --text-color: theme('colors.neutral.300');
    --text-color--muted: theme('colors.gray.400');

    --action-color: theme('colors.violet.500');

    --code-color--text: theme('colors.slate.300');
    --code-color--bg: theme('colors.slate.700');

    --highlight-background-color: theme('colors.yellow.900');

    --blockquote-color--border: theme('colors.slate.800');

    --divider-color: theme('colors.slate.700');
  }
}

