//========================================================================
//
//  VARIABLES
//
//========================================================================


//
// ALIGNMENT
//
$vert-spacing--base: 1.5rem;
$vert-spacing--large: 8rem;

$horiz-spacing: 1rem;
$horiz-spacing--md: 2rem;
$horiz-spacing--lg: 6rem;

//
// LIGHT/DARK MODE
//
 :root {
  @media (prefers-color-scheme: light) {
    --background-color: theme('colors.stone.50');
    --background-color--muted: theme('colors.stone.100');

    --text-color: theme('colors.slate.700');
    --text-color--muted: theme('colors.gray.500');

    --action-color: theme('colors.pink.500');
    --action-color--hover: theme('colors.pink.600');

    --code-color--text: theme('colors.slate.800');
    --code-color--bg: theme('colors.slate.200');

    --highlight-background-color: theme('colors.amber.100');

    --blockquote-color--border: theme('colors.gray.200');

    --divider-color: theme('colors.slate.300');
  }

  @media (prefers-color-scheme: dark) {
    --background-color: theme('colors.gray.900');
    --background-color--muted: theme('colors.slate.800');

    --text-color: theme('colors.neutral.300');
    --text-color--muted: theme('colors.gray.400');

    --action-color: theme('colors.cyan.600');
    --action-color--hover: theme('colors.cyan.500');

    --code-color--text: theme('colors.slate.300');
    --code-color--bg: theme('colors.slate.700');

    --highlight-background-color: theme('colors.amber.900');

    --blockquote-color--border: theme('colors.slate.700');

    --divider-color: theme('colors.slate.600');
  }
}

