---js
// <script>
const title = "Posts";
const layout = "layouts/page";
/*
const eleventyNavigation = {
	key: "Posts",
	order: 2
};
*/
---

{% set postslist = collections.posts %}
{% include "components/posts-list.njk" %}
