---
layout: posts-page
title: Posts list
permalink: /list/posts/
---

<p>View as <a href="/posts/">full posts</a>.

{% set postslist = collections.posts %}
{% set titlesOnly = true %}
{% include "list-posts.njk" %}
