---js
// <script>
const title = "All posts";
const layout = "layouts/page";
const eleventyComputed = {
  subhead: function(data) {
    return 'Titles only &middot; <a href="/posts/full/">Full posts</a>';
  },
}
---

{% set postslist = collections.posts %}
{% include "components/posts-list.njk" %}
