---
layout: posts-page
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 1
title: Posts
---

<p>View as <a href="/list/posts/">list of titles</a> only.</p>

{% set postslist = collections.posts %}
{% include "list-posts.njk" %}
