---
layout: posts-page
title: All posts
permalink: /list/posts/
---

{# TODO probably don't need this page, since no way to access it from the main posts list. put it somewhere else? #}
{% set postslist = collections.posts %}
{% include "_list-posts.njk" %}
