---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: page
eleventyComputed:
  title: Posts tagged as “{{ tag }}”
permalink: /posts/{{ tag | slugify }}/
---

<p>See <a href="/index/">all tags</a> or <a href="/list/posts/{{ tag | slugify }}">titles only</a>.</p>

{% set postslist = collections[ tag ] %}
{% include "list-posts.njk" %}

