---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const layout = "layouts/page";

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: 'Posts tagged “{{ tag }}”',
	permalink: function(data) {
		return `/${this.slugify(data.tag)}/`;
	},
  subhead: function(data) {
    return '<span class="arrow">←</span> <a href="/index/">Index</a>';
  }
};
---

{% set postslist = collections[ tag ] %}
{% include "components/posts-list.njk" %}
