---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};
const layout = "layouts/base";
const eleventyExcludeFromCollections = true;
const eleventyComputed = {
	title: 'Posts tagged “{{ tag }}”',
	permalink: function(data) {
		return `/${this.slugify(data.tag)}/full/`;
	},
  subhead: function(data) {
    return `<a href="/${this.slugify(data.tag)}/">Titles only</a> &middot; Full posts<br><span class="arrow">←</span> <a href="/index/">Index</a>`;
  }
};
---

{% set showFullPosts = true %}
{% set postslist = collections[ tag ] %}

{# does not use tagged-as-list.njk layout bc content cannot go into .main-content #}
<div class="u-grid">
  <div class="page-title">
    <h1>{{ title | safe }}</h1>
    {% if subhead %}
      <div class="subhead">{{ subhead | safe }}</div>
    {% endif %}
  </div>
</div>

{% include "components/posts-list.njk" %}

