---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const layout = "layouts/page";

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: 'Posts tagged as “{{ tag }}”',
	permalink: function(data) {
		return `/${this.slugify(data.tag)}/`;
	}
};
---

{% set postslist = collections[ tag ] %}
{% include "components/posts-list.njk" %}

<p>View all tags in the <a href="tags.njk">Index</a>.</p>
