---
layout: page
title: Index
permalink: /index/
description: All tags used in blog posts, organized alphabetically
eleventyComputed:
  indexPage: true
---

<ul class="tags-index">
  {% for tagSet in collections.all | getAllTags | filterTagList | groupedByLetter %}
    <li>
      {{ tagSet.letter }}
      <ul>
        {% for tag in tagSet.tags %}
          {% set tagUrl %}/posts/{{ tag | slugify }}/{% endset %}
          <li><a href="{{ tagUrl }}">{{ tag }}</a> ({{ collections[tag].length }})</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>