---
permalink: /index/
layout: page
---
<h1>Tags</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}">{{ tag }}</a></li>
{% endfor %}
</ul>
