---
permalink: /index/
layout: page
title: Index
---

<ul>
	{% for tag in collections.all | getAllTags | filterTagList %}
		{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}">{{ tag }}</a></li>
	{% endfor %}
</ul>
