---js
// <script>
const title = "Index";
const permalink = "/index/";
const layout = "layouts/page";
/*
const eleventyNavigation = {
	key: "Index",
	order: 3
};
*/
---

<ul class="tags-index">
  {% for tagSet in collections.all | getAllTags | filterTagList | groupedByLetter %}
    <li>
      {{ tagSet.letter }}
      <ul>
        {% for tag in tagSet.tags %}
          {% set tagUrl %}/{{ tag | slugify }}/{% endset %}
          <li><a href="{{ tagUrl }}">{{ tag }}</a> ({{ collections[tag].length }})</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>