---js
// <script>
const title = "Index";
const permalink = "/index/";
const layout = "layouts/page";
const eleventyComputed = {
  subhead: function(data) {
    return "A list of tags used across all posts";
  },
}
---

<ul class="tags-index">
  {% for tagSet in collections.all | getAllTags | filterTagList | groupedByLetter %}
    <li>
      <div class="tag-group-label">
        {{ tagSet.letter }}
      </div>
      <ul>
        {% for tag in tagSet.tags %}
          {% set tagUrl %}/{{ tag | slugify }}/{% endset %}
          <li><a href="{{ tagUrl }}">{{ tag }}</a> ({{ collections[tag].length }})</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
