{%- css %}
  .posts-list { counter-reset: start-from {{ (postslistCounter or postsList.length) + 1 }} }
{% endcss %}

<ol reversed class="posts-list {% if hideContent %}hide-content{% else %}show-content{% endif %}">
  {% for post in postsList | reverse %}
    <li>
      {% set title = post.data.title %}
      {% set tags = post.data.tags %}
      {% set content = post.content %}
      {% set post_date = post.date %}
      {% include "_post.njk" %}
    </li>
  {% endfor %}
</ol>