<article>
  <header>
    <h1{% if singlePost %} id="title"{% endif %}><a href="{{ post.url }}">{{ title }}</a></h1>
  </header>

  {% if not hideContent %}
    <div class="content">
      {{ content | safe }}
    </div>
  {% endif %}

  <footer>
    <ul>
      <li>
        <time datetime="{{ post_date | htmlDateString }}">{{ post_date | readableDate }}</time>
      </li>
      <li>
        {%- for tag in tags | filterTagList %}
          {%- set tagUrl %}/posts/{{ tag | slugify }}/{% endset %}
            <a href="{{ tagUrl }}">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
        {%- endfor %}
      </li>
    </ul>
  </footer>
</article>
