<footer>
  <div>Copyright @2023 Dieter Limeback</div>
  <ul>
    <li>
      <a href="/feed/feed.xml">RSS</a>
    </li>
    <li>
      <a href="https://mastodon.cloud/@dlimeb">Mastodon</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/dlimeb/">LinkedIn</a>
    </li>
    <li>
      <a href="mailto:dlimeb@gmail.com">Email</a>
    </li>
</footer>