<footer>
  <div>Copyright @2023 Dieter Limeback</div>
  <ul>
    <li>
      <a href="#">RSS</a>
    </li>
    <li>
      <a href="mailto:dlimeb@gmail.com">Email</a>
    </li>
    <li>
      <a href="#">Mastodon</a>
    </li>
    <li>
      <a href="#">LinkedIn</a>
    </li>
</footer>