---
layout: base
---

<article>
  <header>
    <h1 id="title">{{ title }}</h1>
  </header>

  {{ content | safe }}

  <p class="article-datestamp">
    — <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </p>

  <footer>
    {# List tags, if there are any. Note every post gets an `articles` tag (via
    articles.json) so it's posts with only 1 tag that have *zero* added by me
    via the front matter. #}
    {%- if tags|length > 1 %} 
      <div>
        <span class="small-label article-nav-label">Topic{% if tags|length > 2 %}s{% endif %}</span>
        <span>
          {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/writing/{{ tag | slugify }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="topic">{{ tag }}</a>
            {%- if not loop.last -%}, {%- endif -%}
          {%- endfor %}
        </span>
      </div>
    {%- endif %}

    {% if collections.articles %}
      {% set nextArticle = collections.articles | getNextCollectionItem(page) %}
      {% set previousArticle = collections.articles | getPreviousCollectionItem(page) %}

      {% if nextArticle or previousArticle %}
        {% if nextArticle %}
          <div>
            <span class="small-label article-nav-label">Up next</span>
            <span><a href="{{ nextArticle.url | url }}">{{ nextArticle.data.title }}</a></span>
          </div>
        {% endif %}
        {% if previousArticle %}
          <div>
            <span class="small-label article-nav-label">Previously</span>
            <span><a href="{{ previousArticle.url | url }}">{{ previousArticle.data.title }}</a></span>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  </footer>
</article>
