<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# title & description #}
    <title>{% if title %}{{ title }} • {% endif %}{{ metadata.title }}</title>
    <meta name="description" content="{{ description | truncate(140) if description else content | striptags | truncate(140) }}">

    {# styling #}
    <link rel="stylesheet" href="/assets/main.css?<%- cacheBust.mainCss %>" />
    <link rel="stylesheet" href="https://use.typekit.net/icc2gwv.css">

    {# favicons #}
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="/assets/favicon/favicon.svg">
    <link rel="mask-icon" href="/assets/favicon/mask-icon.svg" color="#6D28D9">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">

    {# feeds #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">

    {# social #}
    <meta property="og:site_name" content="{{ metadata.name }}">
    <meta property="og:title" content="{% if title %}{{ title }} • {% endif %}{{ metadata.title }}">
    <meta property="og:description" content="{{ description | truncate(140) if description else content | striptags | truncate(140) }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    {# <meta property="og:image" content="{{ metadata.url }}{{ metadata.social.images.og }}"> #}
    <meta name="twitter:card" content="summary_large_image">
    {# <meta name="twitter:image:alt" content="Alt text for image"> #}
  </head>

  <body class="motion-safe type-{{ layout | lower }} page-{{ page.fileSlug if page.fileSlug != '_pages' else 'home' }}">
    <a class="sr-only" href="#main">Skip to content</a>

    {% if header != false %}
      {% include "header.njk" %}
    {% endif %}

    <main id="main" class="container{% if hideDirectLinks == true%} hide-direct-links{% endif %}" aria-labelledby="title">
      {{ content | typogrify | safe }}
    </main>

    {% if footer != false %}
      {% include "footer.njk" %}
    {% endif %}

    <script src="/assets/main.js?<%- cacheBust.mainJs %>"></script>
  </body>
</html>
