<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# title & description #}
    <title>{% if title or meta_title %}{{ title }}{{ meta_title }} • {% endif %}{{ metadata.title }}</title>
    <meta name="description" content="{{ description | truncate(140) if description else content | striptags | truncate(140) }}">

    {# styling #}
    <link rel="stylesheet" href="/assets/main.css?<%- cacheBust.mainCss %>" />
    <link rel="stylesheet" href="https://use.typekit.net/icc2gwv.css">

    {# favicons #}
    {# TODO create favicon #}
    {# <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="icon" type="image/png" href="/images/favicon.png" /> #}

    {# feeds #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    {# social #}
    {# TODO check images; see metadata.json #}
    {# <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:title" content="{% if title %}{{ title }} • {% endif %}{{ site.name }}">
    <meta property="og:description" content="{{ description | truncate(140) if description else content | striptags | truncate(140) }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}{{ site.social.images.og }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if title %}{{ title }} • {% endif %}{{ site.name }}">
    <meta name="twitter:description" content="{{ description | truncate(140) if description else content | striptags | truncate(140) }}">
    <meta name="twitter:creator" content="{{ site.social.twitter.handle }}">
    <meta name="twitter:image" content="{{ site.url }}{{ site.social.images.og }}"> #}
  </head>

  <body class="motion-safe type-{{ layout | lower }} page-{{ page.fileSlug if page.fileSlug != '_pages' else 'home' }}">
    <a class="sr-only" href="#main">Skip to content</a>

    {% if header != false %}
      {% include "header.njk" %}
    {% endif %}

    <main id="main" class="container" aria-labelledby="title">
      {{ content | typogrify | safe }}
    </main>

    {% if footer != false %}
      {% include "footer.njk" %}
    {% endif %}

    <script src="/assets/main.js?<%- cacheBust.mainJs %>"></script>
  </body>
</html>
