/*-----------------------------------------------------------------------------
  VARIABLES
-----------------------------------------------------------------------------*/

:root {
    /* Typography */
    --font-sans: system-ui, sans-serif;
    --font-serif: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-size-base: 1.125rem;
    --font-size-small: calc(var(--font-size-base) - 0.125rem);
    --font-size-xsmall: calc(var(--font-size-base) - 0.25rem);
    --font-size-xxsmall: calc(var(--font-size-base) - 0.375rem);
    --line-height: 1.5;

    /* Alignment */
    --gap: 24px;
    --page-width: 720px;
    --spacing-base: var(--font-size-base);
    --spacing-medium: calc(var(--line-height) * var(--font-size-base));
    --spacing-large: calc(2.5 * var(--font-size-base));
    --spacing-xlarge: calc(4 * var(--font-size-base));

    /* Borders */
    --border-radius: 3px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: hsl(222 20% 99%);

    --color-text: hsl(215, 6%, 16%);
    --color-text-muted: hsl(215 6% 46%);

    --color-action: hsl(240, 100%, 50%); /* #00f */
    --color-action-hover: hsl(240, 100%, 95%);

    --color-code-text: hsl(222 14% 38%);
    --color-code-background: hsl(222 20% 93%);

    --color-highlight-background: hsl(54 97% 85%);

    --color-border: hsl(222 12% 91%);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(215, 12%, 13%);

    --color-text: hsl(215 3% 80%);
    --color-text-muted: hsl(215 3% 60%);

    --color-action: hsl(249, 100%, 75%);
    --color-action-hover: hsl(249, 57%, 40%);

    --color-code-text: var(--color-text);
    --color-code-background: hsl(215 4% 24%);

    --color-highlight-background: hsl(26 83% 14%);

    --color-border: hsl(215 3% 19%);
  }
}


/*-----------------------------------------------------------------------------
  LAYOUT
-----------------------------------------------------------------------------*/
.int {
  color: red;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

body{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: var(--gap);
}

main {
  grid-column: 2/6;
}

.page,
.posts-list article,
main > article {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: var(--gap);
}

.page h1,
.posts-list article header,
main > article > header {
  grid-column: 1/2;
  grid-row: 1;
}
.page .content,
.posts-list article .content,
main > article > .content {
  grid-column: 2/4;
  grid-row: 1;
}



body > header {
  /* grid-column: 1/2; */
  /* grid-row: 1; */
  /* padding-right: var(--gap); */
}

footer {
  grid-column: 1/2;
  grid-row: 2;
  /* padding-right: var(--gap); */
}

main {
  /* max-width: calc(var(--page-width) + var(--gap) * 20); */
  /* margin: 0 auto; */
  /* padding: var(--gap); */
  /* grid-column: 1/6;
  grid-row: 2; */
}

.page,
article {
  /* display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: var(--gap); */

  /* display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: var(--gap); */
}

.page {
  /* display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: var(--gap); */
}

.page h1 {
  /* grid-column: 2/3;
  grid-row: 1; */
}
.page h1,
article header {
  /* grid-column: 1/2;
  grid-row: 1; */
}

.page .content {
  /* grid-column: 2/6;
  grid-row: 1; */
}

/*-----------------------------------------------------------------------------
  TYPOGRAPHY
-----------------------------------------------------------------------------*/
/* Global */
body {
  font-family: var(--font-serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  color: var(--color-text);
}

/* Headings */
h1,
h2 {
  font-size: var(--font-size-base);
}
h1 {
  margin: 0;
}
h2 {
  margin: var(--spacing-large) 0 1em;
}

/* Body copy */
p,
ol,
ul {
  margin: 0 0 1em;
}
ol,
ul {
  padding-left: 0;
}
p:last-child,
li:last-child {
  margin-bottom: 0;
}

/* Links */
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
}
a:hover,
a:active {
  color: var(--color-action);
  text-decoration: none;
}

/* Dividers */
hr {
  display: block;
  border: 1px solid var(--color-text-muted);
  max-width: 2em;
  margin: var(--spacing-large) auto;
}

/* Images */
picture {
  display: block;
  margin: var(--spacing-large) calc(-4 * var(--gap)) var(--spacing-large) 0;
}
img {
  width: 100%;
  height: 100%;
}
figcaption {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}

/* Blockquotes */
blockquote {
  color: var(--color-text-muted);
  border-left: 4px solid var(--color-border);
  margin: var(--spacing-medium) 0;
  padding-left: var(--font-size-base);
}
cite {
  display: block;
  color: var(--color-text-muted);
  font-style: italic;
  margin-left: 2rem;
}

/* Highlights */
mark {
  color: var(--color-text);
  background-color: var(--color-highlight-background);
  padding: 0 0.125rem;
}

/* Code */
/* !important needed to override styling in prismjs syntax highlighting CSS */
pre,
code {
  font-family: var(--font-mono);
  font-size: var(--font-size-small);
  font-family: var(--font-mono) !important;
  font-size: var(--font-size-xsmall) !important;
  margin: var(--spacing-medium) 0 !important;
}
pre {
  padding: var(--spacing-base) !important;
  border-radius: 0 !important;
}
code {
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  padding: 0.125rem 0.25rem;
  text-shadow: none !important;
}

/* Small caps */
.caps {
  font-size: var(--font-size-small);
}

/* Ordinals */
.ord {
  font-size: var(--font-size-small);
  vertical-align: top;
}

/* Direct links and footnotes */
.header-anchor,
.footnote-ref a,
a.footnote-backref {
  text-decoration: none;
  color: var(--color-text-muted);
  font-family: var(--font-sans);
  font-weight: normal;
  padding: 0 0.25rem;
  border-radius: var(--border-radius);
}
.header-anchor:hover,
.footnote-ref a:hover,
a.footnote-backref:hover {
  color: var(--color-action);
  background-color: var(--color-action-hover);
}
a.footnote-backref {
       padding-top: 0.125rem;
}
.header-anchor {
  display: none;
       font-size: var(--font-size-small);
}
h2:hover .header-anchor {
  display: inline-block;
}
sup {
  font-size: var(--font-size-xxsmall);
  vertical-align: top;
}
.footnotes-list {
  font-size: var(--font-size-small);
}


/*-----------------------------------------------------------------------------
  SPECIFIC ELEMENTS
-----------------------------------------------------------------------------*/
nav ul {
  margin: 0;
}
nav li {
  display: inline;
}
.post-metadata {
  list-style-type: none;
  font-size: var(--font-size-small);
  margin-top: var(--spacing-medium);
  color: var(--color-text-muted);
}
.tags-list,
.tags-list li {
  display: inline;
}
/*-----------------------------------------------------------------------------
  UTILITIES
-----------------------------------------------------------------------------*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}