/*-----------------------------------------------------------------------------
  VARIABLES
-----------------------------------------------------------------------------*/

:root {
    /* Typography */
    --font-sans: system-ui, sans-serif;
    --font-serif: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    --font-size-base: 1.125rem;
    --font-size-small: calc(var(--font-size-base) - 0.125rem);
    --font-size-xsmall: calc(var(--font-size-base) - 0.25rem);
    --font-size-xxsmall: calc(var(--font-size-base) - 0.375rem);
    --line-height: 1.5;

    /* Alignment */
    --gap: 24px;
    --page-width: 720px;
    --spacing-1: var(--font-size-base);
    --spacing-1-5: calc(var(--line-height) * var(--font-size-base));
    --spacing-2: calc(2 * var(--font-size-base));
    --spacing-3: calc(3 * var(--font-size-base));
    --spacing-4: calc(4 * var(--font-size-base));
    --spacing-5: calc(5 * var(--font-size-base));
    --spacing-6: calc(6 * var(--font-size-base));
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: hsl(215, 20%, 99%);

    --color-text: hsl(215, 6%, 16%);
    --color-text-muted: hsl(215, 6%, 46%);
    --color-text-inverted: hsl(60, 30%, 96%);

    --color-action: hsl(240, 100%, 50%); /* #00f */
    --color-action-hover: hsl(240, 100%, 95%);

    --color-code-text: hsl(215, 14%, 38%);
    --color-code-background: hsl(215, 20%, 93%);
    --color-pre-background: hsl(215, 12%, 13%);

    --color-highlight-background: hsl(54, 97%, 85%);

    --color-border: hsl(215, 12%, 91%);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(215, 12%, 13%);

    --color-text: hsl(215, 3%, 80%);
    --color-text-muted: hsl(215, 3%, 60%);

    --color-action: hsl(249, 100%, 75%);
    --color-action-hover: hsl(249, 57%, 40%);

    --color-code-text: var(--color-text-muted);
    --color-code-background: hsl(215, 12%, 9%);
    --color-pre-background: hsl(215, 12%, 9%);

    --color-highlight-background: hsl(26, 83%, 14%);

    --color-border: hsl(215, 3%, 19%);
  }
}


/*-----------------------------------------------------------------------------
  LAYOUT
-----------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: var(--spacing-1-5);
}
@media (min-width: 40rem) {
  body {
    padding: var(--spacing-3);
  }
}
@media (min-width: 60rem) {
  article {
    display: grid;
    /* grid-template-columns: repeat(8,1fr); */
    grid-template-columns: repeat(16,1fr);
    grid-column-gap: var(--gap);
    grid-template-rows: auto minmax(min-content, 1fr);
  }
  article > header {
    /* grid-column: 1/3; */
    grid-column: 1/6;
    grid-row: 1;
  }
  .content {
    /* grid-column: 3/8; */
    grid-column: 6/16;
    grid-row: 1 / span 2;
  }
  article > footer {
    /* grid-column: 1/3; */
    grid-column: 1/6;
    grid-row: 2
  }
}
@media (min-width: 80rem) {
  body {
    padding: var(--spacing-6);
    /* padding: 0 40% 0 30%; */
  }
}
@media (min-width: 94rem) {
  body {
    margin: 0 auto;
    max-width: 94rem;
  }
}

body > header,
main > header,
main > article > header,
.page h1 {
  margin-bottom: 100px;
}
 article > header h1,
.posts-list.hide-content article > header h1 {
  margin-bottom: 1em;
}

.posts-list.hide-content article > header h1,
h1 {
  margin: 0;
}

main,
.show-content article {
  margin-bottom: 300px;
}







main {
  /* grid-column: 2/5; */
  /* margin-top: 2.875rem; TODO */
}

.page,
article {
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: var(--gap); */
}
article {
}

.page h1,
article header {
  /* grid-column: 1/2;
  grid-row: 1; */
  /* margin-bottom: 1rem; */
}
.content {
  /* grid-column: 2/4;
  grid-row: 1; */
}


footer {
  /* grid-column: 1/2;
  grid-row: 2; */
}


/*-----------------------------------------------------------------------------
  TYPOGRAPHY
-----------------------------------------------------------------------------*/
/* Global */
body {
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  color: var(--color-text);
}

/* Headings */
h1,
h2,
h3 {
  font-size: var(--font-size-base);
}
h2 {
  margin: var(--spacing-2) 0 1em;
}

/* Body copy */
p,
ol,
ul {
  margin: 0 0 1em;
}
ol,
ul {
  padding-left: 0;
  list-style: none;
}

/* Lists */
.content ul {
  list-style: disc;
}
.content ol,
.footnotes ol,
.posts-list.hide-content {
  list-style: decimal;
}
.content ul,
.content ol,
.posts-list.hide-content {
  padding-left: 1em;
}

.posts-list.hide-content footer li {
  display: inline;
}

/* Links */
a {
  color: inherit;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
}
a:hover {
  color: var(--color-action);
}
.subnav a,
footer a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
a:hover,
body > header a,
article header a,
.subnav a:hover {
  text-decoration: none;
}
body > header a:hover,
article header a:hover {
  text-decoration: underline;
}


/* Dividers */
hr {
  display: block;
  border: 1px solid var(--color-text-muted);
  max-width: 2em;
  margin: var(--spacing-3) auto;
}

/* Images */
picture {
  display: block;
  margin: var(--spacing-3) calc(-4 * var(--gap)) var(--spacing-3) 0;
  max-width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
figcaption {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}

/* Blockquotes */
blockquote {
  color: var(--color-text-muted);
  border-left: 4px solid var(--color-border);
  margin: var(--spacing-2) 0;
  padding-left: var(--font-size-base);
}
cite {
  display: block;
  color: var(--color-text-muted);
  font-style: italic;
  margin-left: 2rem;
}

/* Highlights */
mark {
  color: var(--color-text);
  background-color: var(--color-highlight-background);
  padding: 0 0.125rem;
}

/* Code */
/* See also syntax highlighting in prism-okaidia.css */
pre,
code {
  font-family: var(--font-mono);
  font-size: var(--font-size-small);
  font-family: var(--font-mono);
  font-size: var(--font-size-xsmall);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}
pre {
  background-color: var(--color-pre-background);
  padding: var(--spacing-1);
  margin: var(--spacing-2) 0;
  overflow: auto;
}
code {
  color: var(--color-code-text);
  background-color: var(--color-code-background);
  padding: 0.125rem 0.25rem;
}
pre > code {
  color: var(--color-text-inverted);
  background: none;
}

/* Small caps */
.caps {
  font-size: var(--font-size-small);
}

/* Ordinals */
.ord {
  font-size: var(--font-size-small);
  vertical-align: top;
}

/* Direct links and footnotes */
.header-anchor,
.footnote-ref a,
a.footnote-backref {
  text-decoration: none;
  color: var(--color-text-muted);
  font-family: var(--font-sans);
  font-weight: normal;
  padding: 0 0.25rem;
  border-radius: 3px;
}
.header-anchor:hover,
.footnote-ref a:hover,
a.footnote-backref:hover {
  color: var(--color-action);
  background-color: var(--color-action-hover);
}
a.footnote-backref {
  padding-top: 0.125rem;
}
.header-anchor {
  display: none;
  font-size: var(--font-size-small);
}
h2:hover .header-anchor {
  display: inline-block;
}
sup {
  font-size: var(--font-size-xxsmall);
  vertical-align: top;
}
.footnotes-list {
  font-size: var(--font-size-small);
}


/*-----------------------------------------------------------------------------
  OTHER SPECIFIC ELEMENTS
-----------------------------------------------------------------------------*/
/* Nav */
body > footer li,
nav li {
  display: inline;
}
nav li::after {
  content: ",";
  margin-left: -0.2em;
}
nav li:first-child::after {
  content: "—";
  margin-left: 0;
}
nav li:last-child::after {
  content: "";
}
nav .active {
  /* font-weight: bold; */
}
.subnav,
footer {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}

/* Posts list */
.posts-list.hide-content {
  list-style-type: decimal;
  padding-left: 1em;
}
.posts-list.hide-content article footer li:first-child::after {
  content: "–";
}


/*-----------------------------------------------------------------------------
  UTILITIES
-----------------------------------------------------------------------------*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}