/*
 * VARIABLES
 */

 :root {
  --color-pre-background: hsl(232, 16%, 27%);
  --color-pre-text: hsl(60, 30%, 95%);
 }

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: hsl(0, 0%, 100%);
    --color-text: hsl(203, 87%, 15%);
    --color-text-muted: hsl(215, 18%, 47%);
    --color-action: #00F;
    --color-selection: hsl(59, 95%, 86%);
    --color-code-background: hsl(220, 20%, 94%);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(229, 85%, 5%);
    --color-text: hsl(214, 32%, 91%);
    --color-text-muted: hsl(215, 23%, 65%);
    --color-action: #1DECAF;
    --color-selection: hsl(188, 70%, 16%);
  }
}