/*
 * VARIABLES
 */
:root {
  /*
  1rem = 16px
  768px = 48rem
	896px = 56rem
  1024px = 64rem
	1200px = 75rem
  1440px = 90rem
  */

	--max-content-width: 86rem;
  --num-cols: 12;
  --col-gap: 1rem;
}


/*
 * GLOBAL STYLES
 */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
}

/* Page wrapper */
.u-container {
	width: 100%;
	max-width: var(--max-content-width);
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
@media (min-width: 36rem) {
	.u-container {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

/* Grid */
.u-grid {
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	column-gap: var(--col-gap);
}

/* Page containers */
.page-title {
	grid-row-start: 1;
	grid-column: span 12;
  margin-bottom: 6rem;
}
.main-content {
	grid-row-start: 2;
	grid-column: span 12;
}
@media (min-width: 900px) {
	.page-title {
		grid-row-start: 1;
		grid-column: 1 / 4;
		margin-bottom: 0;
	}
	.main-content {
		grid-row-start: 1;
		grid-column: 5 / 13;
	}
}

.page-home main {
	margin-top: 3rem;
}