/*
 * VARIABLES
 */
:root {
  /* Typography */
  --font-sans: system-ui, sans-serif;
  --font-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-size-base: 1.125rem;
  --font-size-small: calc(var(--font-size-base) - 0.375rem);
}


/*
 * GLOBAL STYLES
 */
body {
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: 1.4;
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
}
a:hover {
  color: var(--color-action);
  text-decoration: none;
}