/*
 * VARIABLES
 */
:root {
  /* Families */
  --font-sans: system-ui, sans-serif;
  --font-serif: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;

  /* Sizing */
  --font-size-base: 1.2rem;
  --font-size-small: 1rem;

  /* Spacing */
  --line-height: 1.6;
  --line-spacing-1: var(--font-size-base);
  --line-spacing-2: calc(2 * var(--font-size-base));
  --line-spacing-3: calc(3 * var(--font-size-base));
  --line-spacing-4: calc(4 * var(--font-size-base));
  --line-spacing-6: calc(6 * var(--font-size-base));
}


/*
 * GLOBAL STYLES
 */
body {
  font-family: var(--font-serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  color: var(--color-text);
  letter-spacing: -0.005em;
}

/* Headings */
h1,
h2,
h3 {
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
}
h1,
h2 {
  margin: 0;
}
article h2 {
  margin: var(--line-spacing-4) 0 var(--line-spacing-1);
}

/* Body copy */
p,
ol,
ul {
  margin: 0 0 1em;
}
.post .main-content p,
.post .main-content ol,
.post .main-content ul {
  max-width: 48rem;
}
.post .main-content ul {
  list-style-type: disc;
}
.post .main-content ol {
  list-style-type: ordinal;
}
ol,
ul {
  padding-left: 0;
  list-style: none;
}
strong {
  font-weight: 600;
}

/* Lists */
.content ul {
  list-style: disc;
}
.content ol,
.footnotes ol {
  list-style: decimal;
}
.content ul,
.content ol {
  padding-left: 1em;
}
@media (min-width: 40rem) {
  .content ul,
  .content ol {
    padding-left: 0;
  }
}

/* Links */
a {
  color: inherit;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;
}
a:hover {
  color: var(--color-action);
}

/* Dividers */
hr {
  display: block;
  border: 1px solid var(--color-text-muted);
  max-width: 2em;
  margin: var(--line-spacing-3) auto;
}

/* Images */
picture {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
figure {
  margin: var(--line-spacing-3) calc(-1 * var(--line-spacing-2));
  max-width: calc(100% + (2 * var(--line-spacing-2)));
}
@media (min-width: 40rem) {
  figure {
    margin-left: calc(-1 * var(--line-spacing-3));
    margin-right: calc(-1 * var(--line-spacing-3));
    max-width: calc(100% + (2 * var(--line-spacing-3)));
  }
}
@media (min-width: 60rem) {
  figure {
    margin-left: 0;
  }
}
@media (min-width: 68rem) {
  figure {
    margin-right: calc(-1 * var(--line-spacing-4));
  }
}
img {
  width: 100%;
  height: 100%;
}
figcaption {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
  margin: 0 var(--line-spacing-2);
}
@media (min-width: 40rem) {
  figcaption {
    margin: 0 var(--line-spacing-3);
  }
}
@media (min-width: 60rem) {
  figcaption {
    margin: 0;
  }
}

/* Blockquotes */
blockquote {
  color: var(--color-text-muted);
  border-left: 4px solid var(--color-border);
  margin: var(--line-spacing-2) 0;
  padding-left: var(--line-spacing-1);
}
cite {
  display: block;
  color: var(--color-text-muted);
  font-style: italic;
  margin-left: 2rem;
}

/* Highlights */
mark {
  color: var(--color-text);
  background-color: var(--color-highlight-background);
  padding: 0 0.125rem;
}

/* Small caps */
.caps {
  font-size: var(--font-size-small);
}

/* Ordinals */
.ord {
  font-size: var(--font-size-small);
  vertical-align: top;
}

/* Sup/sub */
sup,
sub {
  font-size: var(--font-size-tiny);
}
sup {
  vertical-align: top;
}
sub {
  vertical-align: bottom;
}

/* Selection */
::selection {
  color: var(--color-text);
  background-color: var(--color-selection);
}

/* Code */
pre,
code {
  font-family: var(--font-mono);
  font-size: var(--font-size-small);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}
pre {
  background-color: var(--color-pre-background);
  padding: var(--line-spacing-1);
  margin: var(--line-spacing-2) 0;
  overflow: auto;
  border-radius: 4px;
}
code {
  background-color: var(--color-code-background);
  padding: 0.125rem 0.25rem;
  border-radius: 3px;
}
pre > code {
  color: var(--color-pre-text);
  background: none;
}

/* Syntax highlighting */
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #9CA3C1;
 }
 .token.punctuation {
   color: #F7F7F0;
 }
 .token.namespace {
   opacity: .7;
 }
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #EA7C8B;
 }
 .token.boolean,
 .token.number {
   color: #C49CF6;
 }
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #9CDF97;
 }
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #F7F7F0;
 }
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #7EABF9;
 }
 .token.keyword {
   color: #7ED7E8;
 }
 .token.regex,
 .token.important {
   color: #ED956B;
 }
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.comment,
 .token.italic {
   font-style: italic;
 }
 .token.entity {
   cursor: help;
 }
