:root {
  /* Typography */
  --font-sans: system-ui, sans-serif;
  --font-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-size-base: 1.125rem;
  --font-size-small: calc(var(--font-size-base) - 0.375rem);
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: hsl(0, 0%, 100%);
    --color-text: hsl(203, 87%, 15%);
    --color-text-muted: hsl(215, 18%, 47%);
    --color-action: #00f;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(229, 85%, 5%);
    --color-text: hsl(214, 32%, 91%);
    --color-text-muted: hsl(215, 23%, 65%);
    --color-action: #f00;
  }
}