/*
*
* HOME
*
* Styling for just the home page.
*
*/
.page-home .page-title {
  margin-bottom: var(--space-l);
}
.latest-posts {
  margin-top: 10rem;
}
.previous-posts {
  margin-top: 7rem;
}
.post-previews {
  padding-left: 0;
}
