/*
*
* PAGE
*
* General styling for all pages.
*
*/

/*
* LAYOUT
*/
main {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-3xl);
}

.page-title {
  grid-row-start: 1;
  grid-column: span var(--grid-columns);
  margin-bottom: var(--space-3xl);
  padding-right: var(--space-m);
}
.main-content {
  grid-row-start: 2;
  grid-column: span var(--grid-columns);
  padding-bottom: var(--space-3xl);
}
@media (min-width: 64rem) {
  .page-title {
    grid-row-start: 1;
    grid-column: 1 / 4;
    margin-bottom: 0;
  }
  .main-content {
    grid-row-start: 1;
    grid-column: 4 / var(--grid-columns);
  }
}

.main-content p,
.main-content ol,
.main-content ul {
  max-width: 40rem;
}

/*
* TYPOGRAPHY
*/
.post-list-item h1.post-title,
.page-title h1,
.page-title h2 {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 64rem) {
  .post-list-item h1.post-title,
  .page-title h1,
  .page-title h2 {
    margin-bottom: 1em;
  }
}
.post-list-item h1.post-title,
.page-title h1,
.page-title h2,
.main-content h2,
.main-content h3 {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

hr {
  display: inline-block;
  width: 2rem;
}

.subhead {
  font-size: var(--font-size--2);
  color: var(--color-text-muted);
}
.arrow {
  font-family: var(--font-sans);
}
