{# this could/should be the same file as posts-preview.njk #}

<ol reversed class="post-list">
{%- for post in postslist | reverse %}
	<li class="post-list-item">
    {%- set title = post.data.title %}
    {%- set url = post.url %}
    {% include "components/post-title.njk" %}

    {%- set date = post.data.date %}
    {%- set tags = post.data.tags %}
    {% include "components/post-metadata.njk" %}
	</li>
{%- endfor %}
</ol>
