/*
*
* POSTS
*
* Styling for blog lists and post detail pages.
*
*/

/*
* METADATA
*/
.post-metadata {
  color: var(--color-text-muted);
  font-size: var(--font-size--2);
  display: flex;
}
.post-timestamp {
  white-space: nowrap;
}
.post-timestamp:after {
  content: "·";
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
}
.post-tags {
  margin: 0;
  padding-left: 0;
}
.post-tags,
.post-tags li {
  display: inline-block;
}

/*
* POST HEADER
*/
@media (min-width: 64rem) {
  .post .post-title {
    margin-bottom: var(--space-s);
  }
  .post .post-metadata,
  .post .post-timestamp {
    display: block;
  }
  .post .post-timestamp:after {
    content: "";
  }
}

/*
* POST FOOTER
*/
article footer {
  grid-row-start: 3;
  grid-column: span var(--grid-columns);
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-3xl);
  font-size: var(--font-size--1);
  color: var(--color-text-muted);
}
@media (min-width: 64rem) {
  article footer {
    grid-column: 4 / calc(1 + var(--grid-columns));
  }
}

.links-nextprev {
  display: flex;
  list-style-type: none;
}
.links-nextprev a {
  font-size: var(--font-size-default);
  color: var(--color-text-default);
}
.link-prev,
.link-next {
  flex-grow: 1;
}
.link-next {
  text-align: right;
}

/*
* POST LIST
*/
@media (min-width: 64rem) {
  .page-posts .main-content {
    grid-column: 4 / calc(1 + var(--grid-columns));
  }
}

.main-content .post-previews,
.page-tagged-as-list .main-content ol,
.page-tagged-as-list .main-content ul,
.page-posts .main-content ol,
.page-posts .main-content ul {
  max-width: none;
  padding-left: 0;
}

.post-previews header,
.post-list-item {
  display: block;
  align-items: baseline;
  margin-bottom: var(--space-default);
}
.post-previews .post-list-item {
  margin-bottom: var(--space-2xl);
}
.post-excerpt {
  margin-top: var(--space-default);
}
@media (min-width: 48rem) {
  .post-list .post-list-item,
  .post-previews header {
    display: flex;
  }
  .post-list .post-list-item a,
  .post-previews h1 {
    flex-grow: 1;
  }
}
.read-more {
  font-style: italic;
  font-size: var(--font-size--1);
  color: var(--color-text-muted);
}
