/*
*
* POSTS
*
* Styling for blog lists and post detail pages.
*
*/

/*
* METADATA
*/
.post-metadata {
  color: var(--color-text-muted);
  font-size: var(--font-size--2);
  display: flex;
}
.post-timestamp {
  white-space: nowrap;
}
.post-tags::before {
  content: "·";
  padding-left: var(--space-2xs);
  padding-right: var(--space-3xs);
}
.post-tags {
  margin: 0;
  padding-left: 0;
}
.post-tags,
.post-tags li {
  display: inline-block;
}

.post-tags li:not(:last-child)::after {
  content: ", ";
}

/*
* POST HEADER
*/
@media (min-width: 64rem) {
  .page-posts-full .page-title {
    margin-bottom: var(--space-3xl);
  }
  .post .post-title {
    margin-bottom: var(--space-s);
  }
  .post .post-metadata,
  .post .post-timestamp {
    display: block;
  }
  .post .post-tags::before {
    content: "";
    padding: 0;
  }
}
.post .post-title a {
  text-decoration: none;
}
.post .post-title a:hover {
  text-decoration: underline;
}

/*
* POST FOOTER
*/
article footer {
  grid-row-start: 3;
  grid-column: span var(--grid-columns);
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-3xl);
  font-size: var(--font-size--1);
  color: var(--color-text-muted);
}
@media (min-width: 64rem) {
  article footer {
    grid-column: 4 / calc(1 + var(--grid-columns));
  }
}

.links-nextprev {
  display: flex;
  list-style-type: none;
}
.link-label {
  font-size: var(--font-size--2);
}
.links-nextprev a {
  font-size: var(--font-size-default);
  color: var(--color-text-default);
}
.link-prev,
.link-next {
  flex-grow: 1;
}
.link-next {
  text-align: right;
}

/*
* POST LIST
*/
.page-tagged-as-list .main-content ol,
.page-tagged-as-list .main-content ul,
.page-posts .main-content ol,
.page-posts .main-content ul,
.post-list-full,
.main-content .post-list {
  list-style-type: none;
  padding-left: 0;
  max-width: none;
}

@media (min-width: 64rem) {
  .page-posts .main-content {
    grid-column: 4 / calc(1 + var(--grid-columns));
  }
}

.post-list-item header {
  display: block;
  align-items: baseline;
}
@media (min-width: 48rem) {
  .post-list-titles .post-list-item header {
    display: flex;
  }
  .post-list .post-list-item h1 {
    flex-grow: 1;
  }
}

.post-list-full li.post-list-item {
  margin-top: var(--space-3xl);
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-2xl);
  /* border-bottom: 1px solid var(--color-border); */
}

.post-excerpt {
  margin-top: var(--space-default);
}
.read-more {
  font-style: italic;
  color: var(--color-text-muted);
}
