article {
  grid-template-rows: auto auto;
}

/**
 * METADATA
 */
.post-metadata {
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  display: flex;
}
.post-tags,
.post-tags li {
  display: inline-block;
}
.post-tags {
  margin-bottom: 0;
}
.post-timestamp:after {
  content: "·";
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}


/**
 * SINGLE POST
 */

/* Header */
@media (min-width: 900px) {
  .post .post-title {
    margin-bottom: var(--line-spacing-1);
  }
}
@media (min-width: 900px) {
  .post .post-metadata,
  .post .post-timestamp {
    display: block;
  }
  .post .post-timestamp:after {
    content: "";
  }
}

/* Footer */
article footer {
	grid-row-start: 3;
	grid-column: span 12;
  margin-top: 3rem;
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}
@media (min-width: 900px) {
  article footer {
    grid-row-start: 2;
    grid-column: 5 / 13;
  }
}
.links-nextprev {
  display: flex;
}
.links-nextprev-prev,
.links-nextprev-next {
  flex-grow: 1;
}
.links-nextprev-prev a {
  padding-left: 1.125rem;
}
.links-nextprev-next {
  text-align: right;
}
.links-nextprev-next a {
  padding-right: 1.25rem;
}
.nextprev-arrow {
  font-family: var(--font-sans);
  display: inline-block;
  width: 1.25rem;
}

/**
 * POST LIST
 */
.post-list-item {
  display: inline-block;
  align-items: baseline;
  margin-bottom: 1rem;
}
.post-previews .post-list-item {
  margin-bottom: 6rem;
}
.post-excerpt {
  margin-top: 1rem;
}
@media (min-width: 550px) {
  .post-list-item {
    display: flex;
  }
  .post-list-item a {
    flex-grow: 1;
  }
}