<ol reversed class="post-previews">
{%- for post in postslist | reverse %}
	<li class="post-list-item{% if post.url == url %} active{% endif %}">
		<article>
			<header>
				<h1 class="post-title">
					<a href="{{ post.url }}">
						{% if post.data.title %}
							{{ post.data.title }}
						{% else %}
							{{ post.url }}
						{% endif %}
					</a>
				</h1>

        {%- set date = post.data.date %}
        {%- set tags = post.data.tags %}
        {% include "components/post-metadata.njk" %}
			</header>
			<div class="post-excerpt">
				<p>
					{%- if post.data.summary %}
						{{ post.data.summary }}
					{%- else %}
						{{ post.content | safe | striptags | truncate }}
					{%- endif %}
					<a href="{{ post.url }}" class="read-more">Continue</a>
				</p>
			</div>
		</article>
	</li>
{%- endfor %}
</ol>
