{# this could/should be the same file as posts-list.njk #}

<ol reversed class="post-previews">
{%- for post in postslist | reverse %}
	<li class="post-list-item">
		<article>
			<header>
        {%- set title = post.data.title %}
        {%- set url = post.url %}
        {% include "components/post-title.njk" %}

        {%- set date = post.data.date %}
        {%- set tags = post.data.tags %}
        {% include "components/post-metadata.njk" %}
			</header>
			<div class="post-excerpt">
				<p>
					{%- if post.data.summary %}
						{{ post.data.summary }}
					{%- else %}
						{{ post.content | safe | striptags | truncate }}
					{%- endif %}
					<a href="{{ post.url }}" class="read-more">Continue</a>
				</p>
			</div>
		</article>
	</li>
{%- endfor %}
</ol>
