<ol reversed class="post-list">
{%- for post in postslist | reverse %}
	<li class="post-list-item">
		<a href="{{ post.url }}">
			{% if post.data.title %}
				{{ post.data.title }}
			{% else %}
				{{ post.url }}
			{% endif %}
		</a>

    {%- set date = post.data.date %}
    {%- set tags = post.data.tags %}
    {% include "components/post-metadata.njk" %}
	</li>
{%- endfor %}
</ol>
