<ol reversed class="post-list {% if showFullPosts %}post-list-full{% else %}post-list-titles{% endif %}">

{% for post in postslist | reverse %}

  {% if post.data.title %}
    {% set title = post.data.title %}
  {% else %}
    {% set title = "#" %}
  {% endif %}

  {% if post.data.date %}
    {% set date = post.data.date %}
  {% else %}
    {% set date = post.date %}
  {% endif %}

  {% set url = post.url %}
  {% set tags = post.data.tags %}

  <li class="post-list-item">

    {% if showFullPosts %}
      <article class="post u-grid">
        <header class="page-title">
          {% include "components/post-title.njk" %}
          {% include "components/post-metadata.njk" %}
        </header>

        <div class="main-content">
          {{ post.content | safe }}
        </div>
      </article>

    {% else %}
      <article>
        <header>
          {% include "components/post-title.njk" %}
          {% include "components/post-metadata.njk" %}
        </header>

        {% if showSummary %}
          <p class="post-excerpt">
            {% if post.data.summary %}
              {{ post.data.summary }}
            {% else %}
              {{ post.content | safe | striptags | truncate }}
            {% endif %}
            <a href="{{ post.url }}" class="read-more">Continue</a>
          </p>
        {% endif %}
      </article>
    {% endif %}
  </li>

{% endfor %}

</ol>
