article {
  grid-template-rows: auto auto;
}

/**
 * SINGLE POST
 */

/* Header */

.post-metadata {
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
}
.post-timestamp {
  display: inline-block;
}
.post-timestamp:after {
  content: " · ";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.post-tags,
.post-tags li {
  display: inline-block;
}
@media (min-width: 900px) {
  .post-timestamp {
    display: block;
    margin-top: var(--line-spacing-1);
  }
  .post-timestamp:after {
    content: "";
  }
  .post-tags li {
  }
}

/* Footer */
article footer {
	grid-row-start: 3;
	grid-column: span 12;
  margin-top: 3rem;
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
}
@media (min-width: 900px) {
  article footer {
    grid-row-start: 2;
    grid-column: 5 / 13;
  }
}
.links-nextprev {
  display: flex;
}
.links-nextprev-prev,
.links-nextprev-next {
  flex-grow: 1;
}
.links-nextprev-prev a {
  padding-left: 1.125rem;
}
.links-nextprev-next {
  text-align: right;
}
.links-nextprev-next a {
  padding-right: 1.125rem;
}

/**
 * POST LIST
 * Note there is also a snippet of CSS in posts-list.njk
 */
.post-list-item {
  display: inline-block;
}
.post-list-item time {
  color: var(--color-text-muted);
}
.post-list-item time:before {
  content: " — ";
}
@media (min-width: 550px) {
  .post-list-item {
    display: flex;
  }
  .post-list-item a {
    flex: 1;
  }
  .post-list-item time {
    text-align: right;
  }
  .post-list-item time:before {
    content: "";
  }
}