<div class="post-metadata">
  <time class="post-timestamp" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  {% if tags | length > 1 %}
    <ul class="post-tags">
      {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/{{ tag | slugify }}/{% endset %}
        <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
      {%- endfor %}
    </ul>
  {% endif %}
</div>

