<footer class="site-footer u-container">
  <ul>
    <li><a href="">Feed</a></li>
    <li><a href="https://mastodon.cloud/@dlimeb">Mastodon</a></li>
    <li><a href="https://www.linkedin.com/in/dlimeb/">LinkedIn</a></li>
    <li><a href="mailto:dlimeb@pm.me">Email</a></p></li>
  </ul>
  <div>©2025 Dieter Limeback</div>
</footer>
