<hr class="u-visually-hidden" />

<footer class="site-footer u-container">
  <ul>
    <li><a href="/feed.xml">Feed</a></li>
    <li><a href="mailto:hello@dieter.ca">Email</a></p></li>
    <li><a rel="me" href="https://beige.party/@dlimeb">Mastodon</a></li>
  </ul>
  <div>
		<span class="tooltip-trigger">
			<span class="tooltip--left">Jazzy!</span>
			🎷
		</span>
	</div>
</footer>
