/*
*
* SITE FOOTER
*
* Styling for the site header and footer.
*
*/

/*
* HEADER
*/
.site-header {
  display: flex;
  margin-top: var(--space-s);
  margin-bottom: var(--space-3xl);
}

.site-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.site-header li {
  list-style-type: none;
  display: flex;
}
.site-header li:after {
  content: ",";
  margin-right: var(--space-3xs);
}
.site-header li:first-child:after {
  content: "/";
  padding-left: var(--space-3xs);
}
.site-header li:last-child:after {
  content: "";
}

.site-header a {
  text-decoration: none;
}
.site-header a:hover {
  text-decoration: underline;
}

/*
* FOOTER
*/
.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-xs);
  font-size: var(--font-size--1);
  color: var(--color-text-muted);
}

.site-footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.site-footer li {
  list-style-type: none;
}
.site-footer .copyright {
  text-align: center;
}

@media (min-width: 550px) {
  .site-footer {
    flex-direction: row;
    align-items: flex-start;
  }
  .site-footer ul {
    display: flex;
    flex: 1;
    gap: var(--space-2xs);
    margin: 0;
    padding: 0;
  }
}
