/*
*
* TAGS
*
* Styling for the index page.
*
*/

@media (min-width: 64rem) {
  .page-tags .main-content {
    grid-column: 5 / calc(1 + var(--grid-columns));
  }
}

.tags-index {
  padding-left: 0;
  column-count: 1;
}
@media (min-width: 40rem) {
  .tags-index {
    column-count: 2;
  }
}

.tags-index,
.tags-index ul {
  list-style-type: none;
  padding-left: 0;
}

.tags-index > li {
  display: flex;
  margin-bottom: var(--space-l);
}

.tag-group-label {
  display: inline-block;
  width: 1rem;
  font-weight: bold;
}
