//
// Colour
//
$color--gray-light: hsl(206, 23%, 94%);
$color--blue-dark: hsl(226, 73%, 23%);
$color--blue-medium: hsl(226, 40%, 39%);
$color--blue-bright: hsl(242, 100%, 50%);
$color--coffee: #1decaf; // i lolled

//
// Typgraphy
//
$font-family--display: "Space Mono", Helvetica, Arial, sans-serif;
$font-family--body-text: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
