---
layout: layouts/base
title: dieter.ca
numberOfLatestPostsToShow: 1
---

<div class="u-grid intro">
  {{ content | safe }}
</div>

{% set postsCount = collections.posts | length %}
{% if postsCount %}
  <div class="u-grid latest-posts">
    <div class="page-title">
      {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
      <h2>Latest {% if latestPostsCount != 1 %}{{ latestPostsCount }}{% endif %} post{% if latestPostsCount != 1 %}s{% endif %}</h2>
    </div>
    <div class="main-content">
      {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
      {% set postslistCounter = postsCount %}
      {% set showSummary = true %}
      {% include "components/posts-list.njk" %}
    </div>
  </div>

	{% set morePosts = postsCount - numberOfLatestPostsToShow %}
	{% if morePosts > 0 %}
  <div class="u-grid previous-posts">
    <div class="page-title">
      <h2>Previously</h2>
    </div>
    <div class="main-content">
				<p>
					You can find {{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} in the <a href="posts.njk">archive</a>, or find a specific tag of interest in the <a href="/index/">index</a>.
				</p>
    </div>
  </div>
	{% endif %}
{% endif %}
