---
layout: layouts/base
title: dieter.ca
numberOfLatestPostsToShow: 1
---

<div class="u-grid intro">
  <div class="page-title">
    <h1>Hello!</h1>
  </div>
  <div class="main-content">
    {{ content | safe }}
  </div>
</div>

{% set postsCount = collections.posts | length %}
{%- if postsCount %}
  <div class="u-grid latest-posts">
    <div class="page-title">
      {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
      <h2>Latest {% if latestPostsCount != 1 %}{{ latestPostsCount }}{% endif %} post{% if latestPostsCount != 1 %}s{% endif %}</h2>
    </div>
    <div class="main-content">
      {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
      {% set postslistCounter = postsCount %}
      {% include "components/posts-previews.njk" %}
    </div>
  </div>

	{% set morePosts = postsCount - numberOfLatestPostsToShow %}
	{% if morePosts > 0 %}
  <div class="u-grid previous-posts">
    <div class="page-title">
      <h2>Previously</h2>
    </div>
    <div class="main-content">
				<p>
					You can find {{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} in <a href="posts.njk">the archive</a>.

					Or, view all posts with a specific tag:
				</p>

				<p>
					{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
						{% set tagUrl %}/{{ tag | slugify }}/{% endset %}
						<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
						{%- if not loop.last %}, {% endif %}
					{% endfor %}
				</p>
    </div>
  </div>
	{% endif %}
{%- endif %}
