---
layout: base
---

<div class="page">
  <h1 id="title">
    {% if indexPage %}<a href="/posts/">Posts</a> / {% endif %}{{ title }}
  </h1>

  <div class="content">
    {{ content | safe }}
  </div>
</div>