---
layout: layouts/base
---

<div class="u-grid">
  <div class="page-title">
    <h1>{{ title | safe }}</h1>
    {% if subhead %}
      <div class="subhead">{{ subhead | safe }}</div>
    {% endif %}
  </div>
  <div class="main-content">
    {{ content | safe }}
  </div>
</div>
