---
layout: layouts/base
---
<heading-anchors>
<article class="post u-grid">
  <header class="page-title">
		{%- if title %}
			<h1 class="post-title">{{ title | safe }}</h1>
		{% endif %}
		<div class="post-metadata">
			<time class="post-timestamp" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
			<ul class="post-tags">
				{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/{{ tag | slugify }}/{% endset %}
				<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
				{%- endfor %}
			</ul>
		</div>
	</header>

  <div class="main-content">
		{{ content | safe }}
  </div>

	<p>
		{%- if collections.posts %}
			{%- set previousPost = collections.posts | getPreviousCollectionItem %}
			{%- set nextPost = collections.posts | getNextCollectionItem %}
			{%- if nextPost or previousPost %}
				<p class="links-nextprev">
          {%- if previousPost %}
            <p class="link-prev">
							<div class="link-label"><span class="arrow">←</span> Previous</div>
							<a href="{{ previousPost.url }}">
								{% if previousPost.data.title %}
									{{ previousPost.data.title }}
								{% else %}
									{{ previousPost.url }}
								{% endif %}
							</a>
            </p>
          {% endif %}
          {%- if nextPost %}
            <p class="link-next">
							<div class="link-label">Next <span class="arrow">→</span></div>
							<a href="{{ nextPost.url }}">
								{% if nextPost.data.title %}
									{{ nextPost.data.title }}
								{% else %}
									{{ nextPost.url }}
								{% endif %}
							</a>
            </p>
          {% endif %}
				</div>
			{%- endif %}
		{%- endif %}
	</footer>
</article>
</heading-anchors>
