---
layout: base
---

{# This is the main posts list, so don't need title except for screenreader/ARIA
purposes #}
<header class="visually-hidden">
  <h1 id="title">{{ title }}</h1>
</header>

{{ content | safe }}