---
layout: base
---

<header>
  <h1 id="title"><a href="/index/">Index</a> / {{ title }}</h1>
  <p class="subnav">Show
    {% if not hideContent %}
      <a href="/list/posts/{{ tag | slugify }}">titles only</a>
    {% else %}
      <a href="/posts/{{ tag | slugify }}">full posts</a>
    {% endif %}
  </p>
</header>

{{ content | safe }}