---
layout: layouts/base
---
<heading-anchors>
<article class="post u-grid">
  <header class="page-title">
    {% if title %}
      {% set title = title %}
    {% else %}
      {% set title = "#" %}
    {% endif %}
    {% set url = page.url %}
    {% include "components/post-title.njk" %}

    {% set date = page.date %}
    {% set tags = tags %}
    {% include "components/post-metadata.njk" %}
	</header>

  <div class="main-content">
		{{ content | safe }}
  </div>

  {% if collections.posts %}
    <footer>
			{% set previousPost = collections.posts | getPreviousCollectionItem %}
			{% set nextPost = collections.posts | getNextCollectionItem %}

			{% if nextPost or previousPost %}
        <div class="links-nextprev">

          {% if previousPost %}
            <div class="link-prev">
							<div class="link-label"><span class="arrow">←</span> Previous</div>
							<a href="{{ previousPost.url }}">
								{% if previousPost.data.title %}
									{{ previousPost.data.title }}
								{% else %}
									#
								{% endif %}
							</a>
            </div>
          {% endif %}

          {% if nextPost %}
            <div class="link-next">
							<div class="link-label">Next <span class="arrow">→</span></div>
							<a href="{{ nextPost.url }}">
								{% if nextPost.data.title %}
									{{ nextPost.data.title }}
								{% else %}
									#
								{% endif %}
							</a>
            </div>
          {% endif %}

        </div>
      {% endif %}
    </footer>
  {% endif %}

</article>
</heading-anchors>
